.search-form--focus {
    ul {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 15px;
    }
    &.product__header {
      border: unset !important;
    }
    overflow: scroll;
    min-height: 100vw;
    text-overflow: ellipsis;
  }