.shelf {
  padding: 0 10px;
  ul {

    display: grid;
    grid-template-columns: repeat(4, 290px);
    grid-column-gap: 65px;
    grid-row-gap: 30px;
    width: 100%;

    &.slick-slider {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  li {
    padding: 10px;
    &.slick-slide {
      max-width: 290px;
      width: 100%;
    }
  }

  &__carousel--category {
    max-width: calc(100% - 324px);
    overflow: hidden;
    width: 100%;
  }

	.prateleira {
		& > h2 {
			display: none;
		}
	}

  &__button {
    border: none;
    background-color: transparent;
    .shelf__carousel--full & {
      height: 60px;
      top: 50%;
      margin-top: -30px;
      position: absolute;
      z-index: 10;
      outline: none;
      svg {
        width: 30px;
      }

      &.slick-prev {
        left: -30px;
      }

      &.slick-next {
        right: -30px;
      }
    }

    .shelf__brand & {
      height: 60px;
      top: 50%;
      margin-top: -30px;
      position: absolute;
      z-index: 10;
      outline: none;
      svg {
        width: 30px;
      }

      &.slick-prev {
        left: -30px;
      }

      &.slick-next {
        right: -30px;
      }
    }
  }

  &__brand {
    .box-banner {
      text-align: center;
      max-width: 175px;
      margin: 0 20px;
    }

    a {
      display: block;
      width: 100%;
      text-align: center;
    }

    img {
      margin: 0 auto;
    }
  }

  &--flip {
    ul {
      grid-template-columns: repeat(3, 350px);
      grid-column-gap: 55px;
      grid-row-gap: 55px;
    }
    li {
     padding: 0;
    }
  }


}

main {
	.product--shelf {
		.product__header {
			border: none;
			padding: 2px;
			overflow: hidden;
			max-height: 365px;
		}
		.product__link {
			img {
				margin: 0 auto;
			}
		}
	}
}