extends ../layouts/default.pug

block vars
  - var pageTitle = 'Home'
  - var bodyClass = 'home '

block content
  section.section__page.section__hero
    .banner.banner--full
      .banner__inner
        +vtex-controller('<vtex:contentPlaceHolder id="Banner Mobile" />')
          .box-banner
            a(href="")
              img(src="/arquivos/banner-ex-mob.png")/
          .box-banner
            a(href="")
              img(src="/arquivos/banner-ex-mob.png")/
          .box-banner
            a(href="")
              img(src="/arquivos/banner-ex-mob.png")/
  section.section__page.section__shelf
      section.section__title
        .container
          h2.section__title__txt Novidades
      .shelf.shelf__carousel--full
        +vtex-controller('<vtex:contentPlaceHolder id="Novidades" />')
          .prateleira
            ul
              each val in [1, 2, 3, 4, 5, 6, 7, 8]
                li
                  include ../shelves/prateleira
  section.section__page.section__shelf
      section.section__title
        .container
          h2.section__title__txt Destaques
      .shelf.shelf__carousel--full
        +vtex-controller('<vtex:contentPlaceHolder id="Destaques" />')
          .prateleira
            ul
              each val in [1, 2, 3, 4, 5, 6, 7, 8]
                li
                  include ../shelves/prateleira
  section.section__page.section__shelf
      section.section__title
        .container
          h2.section__title__txt Lançamentos
      .shelf.shelf__carousel--full
        +vtex-controller('<vtex:contentPlaceHolder id="Lancamentos" />')
          .prateleira
            ul
              each val in [1, 2, 3, 4, 5, 6, 7, 8]
                li
                  include ../shelves/prateleira