header.header
  .header__info
    .header__info.container.columns
      .header__info-menu.column.is-1.is-2-mobile.is-inline-block
        <svg class="header__info-menu__ico" style="height: 30px" enable-background="new 0 0 53 53" version="1.1" viewBox="0 0 53 53" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m2 13.5h49c1.104 0 2-0.896 2-2s-0.896-2-2-2h-49c-1.104 0-2 0.896-2 2s0.896 2 2 2z"/><path d="m2 28.5h49c1.104 0 2-0.896 2-2s-0.896-2-2-2h-49c-1.104 0-2 0.896-2 2s0.896 2 2 2z"/><path d="m2 43.5h49c1.104 0 2-0.896 2-2s-0.896-2-2-2h-49c-1.104 0-2 0.896-2 2s0.896 2 2 2z"/></svg>
      a.header__info__logo__link.column.is-10.is-8-mobile.is-inline-block(href="/")
        img(src="/arquivos/logo-cyclone.png", alt="")
      .header__minicart.js-minicart.column.is-1.is-1-mobile.is-inline-block