header.header
  .header__info
    .header__info.container.columns
      .header__info-menu.column.is-1.is-2-mobile.is-inline-block
        svg.header__info-menu__ico(enable-background='new 0 0 53 53', version='1.1', viewBox='0 0 53 53', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
          path(d='m2 13.5h49c1.104 0 2-0.896 2-2s-0.896-2-2-2h-49c-1.104 0-2 0.896-2 2s0.896 2 2 2z')
          path(d='m2 28.5h49c1.104 0 2-0.896 2-2s-0.896-2-2-2h-49c-1.104 0-2 0.896-2 2s0.896 2 2 2z')
          path(d='m2 43.5h49c1.104 0 2-0.896 2-2s-0.896-2-2-2h-49c-1.104 0-2 0.896-2 2s0.896 2 2 2z')
      a.header__info__logo__link.column.is-10.is-8-mobile.is-inline-block(href='/')
        img(src='/arquivos/logo-cyclone.png', alt='')
      .header__minicart.js-minicart.column.is-1.is-1-mobile.is-inline-block
  section#menu-mob.visible-xs.side-panel.js-menu-mobile.side-panel--open
    .container
      .row
        .col-xs-12.sidepanel-header
          h3.col-xs-10.menu-mob-title Menu
          i.col-xs-2.close-menu.mobile.js-close-mobile-menu
            svg(xmlns='http://www.w3.org/2000/svg', version='1.1', x='0px', y='0px', viewBox='0 0 212.982 212.982', xml:space='preserve', width='17px', height='17px')
              path(d='M131.804 106.491l75.936-75.936c6.99-6.99 6.99-18.323 0-25.312 -6.99-6.99-18.322-6.99-25.312 0l-75.937 75.937L30.554 5.242c-6.99-6.99-18.322-6.99-25.312 0 -6.989 6.99-6.989 18.323 0 25.312l75.937 75.936L5.242 182.427c-6.989 6.99-6.989 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0l75.937-75.937 75.937 75.937c6.989 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.322 0-25.312L131.804 106.491z', fill='#000')
        nav.col-xs-12.sidepanel-content
          ul.menu-list-sidepanel
            li.menu-item-sidepanel.has-sub
              span.menu-anchor-sidepanel(title='Loja On-line cyclone - Masculino') Masculino
              ul.submenu-sidepanel.tipo(style='overflow: hidden; display: none;')
                li
                  a(href='/masculino?O=OrderByReleaseDateDESC') Ver Todos
                li
                  a(href='/masculino/camisa?O=OrderByReleaseDateDESC') Camisa
                li
                  a(href='/masculino/camisa-polo?O=OrderByReleaseDateDESC') Camisa Polo
                li
                  a(href='/masculino/camisa-tecido?O=OrderByReleaseDateDESC') Camisa Tecido
                li
                  a(href='/masculino/regata?O=OrderByReleaseDateDESC') Regata
                li
                  a(href='/masculino/casaco-e-jaqueta?O=OrderByReleaseDateDESC') Casaco e Jaqueta
                li
                  a(href='/masculino/bermuda-veludo?O=OrderByReleaseDateDESC') Bermuda veludo
                li
                  a(href='/masculino/bermuda-agua?O=OrderByReleaseDateDESC') Bermuda Água
                li
                  a(href='/masculino/bermuda-jeans?O=OrderByReleaseDateDESC') Bermuda Jeans
                li
                  a(href='/masculino/bermuda-passeio?O=OrderByReleaseDateDESC') Bermuda Passeio
                li
                  a(href='/masculino/calca?O=OrderByReleaseDateDESC') Calça
            li.menu-item-sidepanel.has-sub
              span.menu-anchor-sidepanel(title='Loja On-line cyclone - Feminino') Feminino
              ul.submenu-sidepanel.tipo
                li
                  a(href='/feminino?O=OrderByReleaseDateDESC') Ver Todos
                li
                  a(href='/feminino/blusa?O=OrderByReleaseDateDESC') Blusa
                li
                  a(href='/feminino/short?O=OrderByReleaseDateDESC') Short
                li
                  a(href='/feminino/saia?O=OrderByReleaseDateDESC') Saia
                li
                  a(href='/feminino/vestido?O=OrderByReleaseDateDESC') Vestido
                li
                  a(href='/feminino/bone?O=OrderByReleaseDateDESC') Boné
                li
                  a(href='/feminino/calca-macaquinho?O=OrderByReleaseDateDESC') Calça/Macaquinho
                li
                  a(href='/feminino/casaco-e-jaqueta?O=OrderByReleaseDateDESC') Casaco e Jaqueta
                li
                  a(href='/feminino/tenis?O=OrderByReleaseDateDESC') Tênis
                li
                  a(href='/feminino/mochila?O=OrderByReleaseDateDESC') Mochilas
            li.menu-item-sidepanel.has-sub
              span.menu-anchor-sidepanel(title='Loja On-line cyclone - Infantil') Infantil
              ul.submenu-sidepanel.tipo
                li
                  a(href='/infantil?O=OrderByReleaseDateDESC') Ver Todos
                li
                  a(href='/infantil/camiseta?O=OrderByReleaseDateDESC') Camiseta
                li
                  a(href='/infantil/regata?O=OrderByReleaseDateDESC') Regata
                li
                  a(href='/infantil/bermuda-agua?O=OrderByReleaseDateDESC') Bermuda Água
                li
                  a(href='/infantil/bermuda-veludo?O=OrderByReleaseDateDESC') Bermuda veludo
                li
                  a(href='/infantil/bermuda-passeio?O=OrderByReleaseDateDESC') Bermuda Passeio
                li
                  a(href='/infantil/calca?O=OrderByReleaseDateDESC') Calça
                li
                  a(href='/infantil/casacos?O=OrderByReleaseDateDESC') Casacos
            li.menu-item-sidepanel.has-sub
              span.menu-anchor-sidepanel(title='Loja On-line cyclone - Calçados') Calçados
              ul.submenu-sidepanel.tipo
                li
                  a(href='/calcados?O=OrderByReleaseDateDESC') Ver Todos
                li
                  a(href='/calcados/tenis?O=OrderByReleaseDateDESC') Tênis
                li
                  a(href='/calcados/bota?O=OrderByReleaseDateDESC') Bota
                li
                  a(href='/calcados/sandalia?O=OrderByReleaseDateDESC') Sandália
            li.menu-item-sidepanel.has-sub
              span.menu-anchor-sidepanel(title='Loja On-line cyclone - Diversos') Diversos
              ul.submenu-sidepanel.tipo
                li
                  a(href='/diversos?O=OrderByReleaseDateDESC') Ver Todos
                li
                  a(href='/diversos/skates?O=OrderByReleaseDateDESC') Skates
                li
                  a(href='/diversos/patinete?O=OrderByReleaseDateDESC') Patinete
                li
                  a(href='/diversos/linha-praia?O=OrderByReleaseDateDESC') Linha Praia
            li.menu-item-sidepanel.has-sub
              span.menu-anchor-sidepanel(title='Loja On-line cyclone - Boné') Boné
              ul.submenu-sidepanel.tipo
                li
                  a(href='/bone?O=OrderByReleaseDateDESC') Ver Todos
                li
                  a(href='/bone/aba-reta?O=OrderByReleaseDateDESC') Aba reta
                li
                  a(href='/bone/microfibra?O=OrderByReleaseDateDESC') Microfibra
                li
                  a(href='/bone/veludo?O=OrderByReleaseDateDESC') Veludo
                li
                  a(href='/bone/aba-curva?O=OrderByReleaseDateDESC') Aba Curva
            li.menu-item-sidepanel.has-sub
              span.menu-anchor-sidepanel(title='Loja On-line cyclone - Acessórios') Acessórios
              ul.submenu-sidepanel.tipo
                li
                  a(href='/acessorios?O=OrderByReleaseDateDESC') Ver Todos
                li
                  a(href='/acessorios/mochila-bolsa-estojo?O=OrderByReleaseDateDESC') Mochila/Bolsa/Estojo
                li
                  a(href='/acessorios/meia?O=OrderByReleaseDateDESC') Meia
                li
                  a(href='/acessorios/oculos?O=OrderByReleaseDateDESC') Óculos
                li
                  a(href='/acessorios/gorro?O=OrderByReleaseDateDESC') Gorro
                li
                  a(href='/acessorios/carteiras?O=OrderByReleaseDateDESC') Carteiras
                li
                  a(href='/acessorios/chaveiros?O=OrderByReleaseDateDESC') Chaveiros
                li
                  a(href='/acessorios/cintos?O=OrderByReleaseDateDESC') Cintos
                li
                  a(href='/acessorios/pochete?O=OrderByReleaseDateDESC') Pochete
            li.menu-item-sidepanel.has-sub
              span.menu-anchor-sidepanel(title='Loja On-line cyclone - Nossas Lojas') Promoções
              ul.submenu-sidepanel.tipo
                li
                  a(href='/institucional/nossas-lojas') Ver Todos
                li
                  a(href='/promocao/acessorios?O=OrderByReleaseDateDESC') Acessórios
                li
                  a(href='/promocao/bone?O=OrderByReleaseDateDESC') Boné
                li
                  a(href='/promocao/calcados?O=OrderByReleaseDateDESC') Calçados
                li
                  a(href='/promocao/feminino?O=OrderByReleaseDateDESC') Feminino
                li
                  a(href='/promocao/infantil?O=OrderByReleaseDateDESC') Infantil
                li
                  a(href='/promocao/masculino?O=OrderByReleaseDateDESC') Masculino
                li
                  a(href='/promocao/vale-presente?O=OrderByReleaseDateDESC') Vale Presente
            li.menu-item-sidepanel
              a.menu-anchor-sidepanel(href='/institucional/nossas-lojas') Nossas Lojas
    ul.account__box
      li.account__box__item
        a(href='/login')
          img(src='/arquivos/login.png')
      li.account__box__item
        a(href='/account/orders')
          img(src='/arquivos/meus-pedidos.png')
    section.bottom__box.columns
      .social.column.is-3.is-mobile-3
        h3 Na Rede
        ul
          li
            a(href='https://www.facebook.com/cyclonebrasil/', target='_blank', alt='Acesse o Facebook da cyclone')
              svg(xmlns='http://www.w3.org/2000/svg', width='49.652', height='49.652', viewBox='0 0 49.652 49.652')
                path(d='M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56L31 25.7z')
          li
            a(href='https://www.instagram.com/cyclone.original/', target='_blank', alt='Acesse o Instagram da cyclone')
              svg(xmlns='http://www.w3.org/2000/svg', width='49.652', height='49.652', viewBox='0 0 49.652 49.652')
                path(d='M24.825 29.796a4.978 4.978 0 0 0 4.972-4.97 4.954 4.954 0 0 0-.94-2.897 4.964 4.964 0 0 0-4.029-2.073c-1.659 0-3.126.82-4.031 2.072a4.947 4.947 0 0 0-.94 2.897 4.973 4.973 0 0 0 4.968 4.971zM35.678 18.746V13.96l-.623.002-4.164.013.016 4.787z')
                path(d='M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm14.119 21.929v11.56a5.463 5.463 0 0 1-5.457 5.458H16.164a5.462 5.462 0 0 1-5.457-5.458V16.165a5.462 5.462 0 0 1 5.457-5.457h17.323a5.463 5.463 0 0 1 5.458 5.457v5.764z')
                path(d='M32.549 24.826c0 4.257-3.464 7.723-7.723 7.723s-7.722-3.466-7.722-7.723a7.67 7.67 0 0 1 .568-2.897h-4.215v11.56a2.706 2.706 0 0 0 2.706 2.704h17.323a2.707 2.707 0 0 0 2.706-2.704v-11.56h-4.217c.367.894.574 1.873.574 2.897z')
      .newsletter.column.is-9.is-mobile-9
  .header__search-form
    #header-form.search-form
      .field.has-addons
        .control.input-width
          input.input(type='text', placeholder='Digite aqui...')
        .control
          a.button
            svg.icon-search(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22', height='23', viewBox='0 0 22 23')
              defs
                path#bog5a(d='M1335.62 51.66a1.19 1.19 0 0 1-1.7-.03l-5.46-5.74a9.04 9.04 0 0 1-5.26 1.68 9.25 9.25 0 0 1-9.2-9.28 9.25 9.25 0 0 1 9.2-9.29 9.31 9.31 0 1 1 7.04 15.26l5.42 5.69c.46.48.44 1.25-.04 1.71zM1316.4 38.3a6.84 6.84 0 0 0 6.8 6.86c3.74 0 6.8-3.08 6.8-6.86a6.84 6.84 0 0 0-6.8-6.87 6.84 6.84 0 0 0-6.8 6.87z')
              g
                g(transform='translate(-1314 -29)')
                  use(fill='#b1b3b6', xlink:href='#bog5a')
