.home {
	.section__title {
		&__ico {
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
		}

		&__txt {
			color: #000;
			font-weight: 800;
			font-size: 2.3rem;
			display: inline-block;
			text-transform: uppercase;
			font-family: "United Sans Reg - Heavy";
		}
	}

	.slick-prev {
		transform: rotate(180deg);
	}

	.banner--full .slick-slide img {
		width: 100%;
		max-width: 1000%;
	}
}