.header {
  top: 0;
  width: 100%;
  z-index: 99;
  position: fixed;

  &__area {
    padding: 0;
    background: url(/arquivos/menu-textura.png) repeat-x scroll 0 0 #e75300;
  }

  &__info {
    background-color: #fff;

    &-menu {
      text-align: left;
      &__ico {
        width: 30px;
        height: 70px;
        overflow: visible;
      }
    }

    &__logo__link {
      text-align: center;
    }
  }
}